.pageWrapper {
  padding: 1.5rem;
}

.title {
  margin: 0.5rem 0;
}

.buttonWrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.hasIcon {
  display: flex;
  gap: 4px;
  align-items: center;
}
