.inputText {
  box-sizing: border-box;
  width: 100%;
  min-width: 100px;
  padding: 10px;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  outline: none;
}

.inputText:focus {
  border-color: var(--background-blue);
}

.error,
.error:focus {
  border-color: var(--background-red);
}

.passwordMask {
  padding-right: 40px;
}

.maskInput {
  position: relative;
}

.maskButton {
  position: absolute;
  top: 50%;
  right: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--background-gray);
  cursor: pointer;
  background: none;
  border: none;
  transform: translateY(-50%);
}

/* storybook用css */
.form {
  width: 300px;
  padding: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
}

.inputWrapper {
  margin-bottom: 1rem;
}

.buttonWrapper {
  text-align: center;
}

.inputLabel {
  font-size: 15px;
}
